<!-- START FOOTER -->
<table style='width: 600px; background: #f6f6f8; border: none; border-spacing: 0'>
  <tbody>
    <tr>
      <td>
        <p
          style="
                width: 536px;
                margin: 0px 31px;
                border-radius: 4px;
                background: #ffffff;
                text-align: center;
                font: 14px 'Helvetica Neue', Arial, Helvetica;
                font-weight: 400;
                line-height: 19.6px;
                color: #4d5163;
                padding: 10px 0px;
              "
        >
          Este é um e-mail automático. Não precisa responder, ok?
        </p>
      </td>
    </tr>
    <tr>
      <td style='padding-left: 33px; padding-top: 32px'>
        <a
          style="
                font: 16px 'Helvetica Neue', Arial, Helvetica;
                font-weight: 400;
                line-height: 19.2px;
                color: #646981;
                text-decoration: none;
              "
          href='https://www.grupogazin.com.br/empresa#historia'
        >Sobre nós</a>
        <a
          style="
                margin-left: 26px;
                font: 16px 'Helvetica Neue', Arial, Helvetica;
                font-weight: 400;
                line-height: 19.2px;
                color: #646981;
                text-decoration: none;
                margin-right: 240px;
              "
          href='https://www.grupogazin.com.br/contato'
        >Contato</a>
        <!-- START FACEBOOK ICON -->
        <a href='https://www.facebook.com/gazin' target='_blank' style='text-decoration: none; margin-right: 4px'>
          <img src='{{makeAssetsURL "assets/email/footer/facebook.svg"}}' />
        </a>
        <!-- END FACEBOOK ICON -->
        <!-- START INSTAGRAM ICON -->
        <a href='https://www.instagram.com/jeitogazin' target='_blank' style='text-decoration: none; margin-right: 4px'>
          <img src='{{makeAssetsURL "assets/email/footer/instagram.svg"}}' />
        </a>
        <!-- END INSTAGRAM ICON -->
        <!-- START YOUTUBE ICON -->
        <a href='https://www.youtube.com/gazinoficial' target='_blank' style='text-decoration: none; margin-right: 4px'>
          <img src='{{makeAssetsURL "assets/email/footer/youtube.svg"}}' />
        </a>
        <!-- END YOUTUBE ICON -->
        <!-- START LINKEDIN ICON -->
        <a href='https://www.linkedin.com/company/gazin' target='_blank' style='text-decoration: none'>
          <img src='{{makeAssetsURL "assets/email/footer/linkedin.svg"}}' />
        </a>
        <!-- END LINKEDIN ICON -->
      </td>
    </tr>
    <tr>
      <td style='padding-left: 32px; padding-top: 30px'>
        <table>
          <tbody>
            <tr>
              <td>
                <p
                  style="
                        margin: 0;
                        font: 16px 'Helvetica Neue', Arial, Helvetica;
                        font-weight: 400;
                        line-height: 19.2px;
                        color: #646981;
                      "
                >
                  Atendimento | Segunda à sexta das 9h às 20h
                </p>
                <p
                  style="
                        margin: 0;
                        margin-top: 5px;
                        font-weight: 700;
                        line-height: 16px;
                        font: 18px 'Helvetica Neue', Arial, Helvetica;
                        color: #646981;
                      "
                >
                  <img src='{{makeAssetsURL "assets/email/footer/phone.svg"}}' />
                  <strong>0800 643 6809</strong>
                </p>
              </td>
              <td>
                <a
                  href='https://gazinseguros.com.br/contato'
                  target='_blank'
                  style="
                        margin-left: 37px;
                        text-decoration: none;
                        width: 150px;
                        box-sizing: border-box;
                        border: 1px solid #646981;
                        border-radius: 4px;
                        font: 14px 'Helvetica Neue', Arial, Helvetica;
                        font-weight: 700;
                        line-height: 16px;
                        color: #646981;
                        padding: 14px 18px;
                      "
                >
                  Preciso de ajuda
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style='padding-top: 33px; padding-bottom: 32px; padding-right: 32px; padding-left: 32px'>
        <div style='width: 100%; height: 1px; background-color: #ebebf0'></div>
      </td>
    </tr>
    <tr>
      <td style='padding-left: 33px'>
        <p
          style="
                margin: 0;
                margin-bottom: 10px;
                font: 14px 'Helvetica Neue', Arial, Helvetica;
                font-weight: 400;
                line-height: 16px;
                color: #646981;
              "
        >
          Gazin - ROD PR 082 SN - Centro | CEP: 87485000 - Douradina/PR
        </p>
      </td>
    </tr>
  </tbody>
</table>
<!-- END FOOTER -->